<header class="py-5 px-3 conatiner-fluid bg-body-tertiary">


    <section class="container">

        <div class="col-lg-8 col-xxl-7">

            <h2 class="fw-bolder">Apprendre de manière ludique et approfondie sur quoi que ce soit est rare</h2>
            <p>
                Nous sommes de premier ordre dans l'enseignement de n'importe quelle matière ou domaine professionnel, 
                notre personnel est composé de personnes soigneusement sélectionnées et certifiées qui excellent 
                dans leurs domaines respectifs.
            </p>

        </div>

    </section>

</header>