<header class="p-3 p-lg-5 bg-info-subtle">

    <section class="container row justify-content-start align-items-center mx-auto">

        <div class="col-md-9 col-lg-8 mb-5 mb-lg-0">
            
            <h1 class="display-4 fw-bold mb-2 mb-md-3">Nom Du Cours en gros caracters pour <span class="text-primary">Niveau Bac+3</span></h1>
            <p class="lead mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat erat quis pulvinar consectetur adipiscing elit semper.</p>
        
            <aside class="nav justify-content-between gap-2 py-3">

                <div class="d-flex gap-2">
                    <i class="flex-shrink-0 fs-4 text-primary bi bi-chat-right-fill" />    
                    <div>
                        <strong>24/7</strong> <br/>
                        Customer Support
                    </div>
                </div>

                <div class="d-flex gap-2">
                    <i class="flex-shrink-0 fs-4 text-primary bi bi-shield-fill-check" />
                    <div>
                        <strong>99.99%</strong> <br/>
                        Uptime Guarantee
                    </div>
                </div>

                <div class="d-flex gap-2">
                    <i class="flex-shrink-0 fs-4 text-primary bi bi-person-check" />
                    <div>
                        {[1,2,3,4,5].map( item => <i class={`text-warning bi bi-${item < 3.5? "star-fill":"star"}`} />)} <br/>
                        12 reviews
                    </div>
                </div>

            </aside>

        </div>

    </section>

</header>