<header style="min-height: 70vh;max-height: 620px;" class="container-fluid py-3 bg-body-tertiary">

	<div class="container-xl row align-items-center mx-auto">

        <div class="col-lg-6 mb-4 mb-lg-0">
            <h3 class="display-4 fw-bold">Anyone, anywhere, can start <span class="text-primary">Bootstrap</span></h3>
            <p class="lead my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat erat quis pulvinar semper.</p><a class="btn btn-lg btn-primary" href="">Get Started</a>
        </div>

        <div class="col-lg-6 position-relative">

            <div class="position-absolute translate-middle-x top-0 start-50 border shadow bg-body rounded p-3">
                <i class="fs-2 bi bi-check-cirle-fill text-primary" /> Best Pass % in Academics
            </div>

            <img alt="" class="img-fluid h-100 rounded-2" src="/imgs/hero6.avif">

            <div class="position-absolute translate-middle-y top-50 start-0 border shadow bg-body rounded p-3">
                <i class="bi bi-mortarboard fs-2 text-primary" /> % in Academics
            </div>
        </div>

	</div>

</header>

<section class="conatiner row mt-5 justify-content-center align-items-center mx-auto">

    <div class="col-md-3 col-sm-6 mb-3">
        <i class="fs-4 bi bi-globe-asia-australia"  />
        <h4>Satisfied</h4>
        <p>International clients that are satisfied</p>
    </div>

    <div class="col-md-3 col-sm-6 mb-3">
        <i class="fs-4 bi bi-calendar-event" />
        <h4>Experience</h4>
        <p>Years of expertise in website design</p>
    </div>

    <div class="col-md-3 col-sm-6 mb-3">
        <i class="fs-4 bi bi-people-fill" />
        <h4>Trust</h4>
        <p>Users believe our code snippets</p>
    </div>

    <div class="col-md-3 col-sm-6">
        <i class="fs-4 bi bi-brightness-high-fill" />
        <h4>Strategy</h4>
        <p>Great efforts to take Designing Next Level</p>
    </div>

</section>