<header class="bg-body-tertiary py-3 hero-catalogue d-flex align-items-center position-relative ">

	<div class="container row justify-content-center">

		<div class="col-lg-10 text-center">

			<h4 class="display-5 fw-bold">Resources, are available for those <span class="text-primary">with an account</span></h4>
			<p class="lead py-3">Nam feugiat erat quis pulvinar consectetur adipiscing elit semper.</p>
		</div>

	</div>

</header>