---
import DashboardLayout from "../../layouts/DashboardLayout.astro";

---
<DashboardLayout >

   <section>
    
        <aside>
        
        </aside>


        <div>
            
        </div>

   </section>




</DashboardLayout>
