---
import ResourceSearch from "../components/forms/resourceSearch.astro";
import ResourceHeader from "../components/headers/resourceHeader.astro";
import Pagination from "../components/pagination.astro";
import Layout from "../layouts/clientLayout.astro";


---

<Layout>

    <ResourceHeader />

    

    <main class="container-xxl row g-3 mx-auto p-2">

        <nav class="col-lg-4 col-xl-2">
           <ResourceSearch />
        </nav>

        <section class="col-lg-8 col-xl-10">

            <header class="nav justify-content-between align-items-center">
                <span>Resultats: 12k de resources disponibles</span>


                <span>
                    <button class="btn btn-sm"><i class="bi bi-grid-fill" /></button>
                    <button class="btn btn-sm"><i class="bi bi-list" /></button>
                </span>

                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">30 resources par pages</a
                    >
                    <ul class="dropdown-menu small">
                        <li><a class="dropdown-item" href="#">10 resources</a></li>
                        <li>
                            <a class="dropdown-item" href="#">30 resources</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">60 resources</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">120 resources</a>
                        </li>
                    </ul>
                </div>

            </header>

            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4">


                {[1,2,3,4,5,6,7,8,9,10].map( item => <div class="col">
                    <div class="p-2">
                        <div style="height: 180px;" class="w-100 bg-body-tertiary bg-gradient d-flex justify-content-center align-items-center">
                            <img src={`/imgs/txtbook${Math.ceil( Math.random()*2)}.jpg`} class="object-fit-cover" height="100%" alt="txtbk img"/>
                        </div>

                        <div class="p-2 lh-sm">
                            <p class="fs-6 fw-bold">Titre du livre rechercher ou presenter dans cett page</p>
                            <p>
                                Editeur: Alucam  annee 2022 <br/>
                                par Mr Maurice Kamtoto <br />
                            <span class="fw-light">
                                    recommander par 23 utilisateurs
                            </span>
                            </p>


                            <a class="icon-link icon-link-hover text-info">
                                En savoir plus <i class="bi bi-arrow-right"></i>
                            </a>

                        </div>
                    </div>
                </div>)}

            </div>




            <Pagination />
        </section>


    </main>

</Layout>