<footer style="font-size: smaller;" class="d-block d-lg-flex justify-content-between p-3 p-lg-2 border-top">
    <span class=" mb-2 mb-lg-0">
        &copy; {new Date().getFullYear()} FreeFrontend.dev. All rights reserved.
    </span>
    <span>
        <a class="d-block d-lg-inline m-2" href="">Privacy Policy</a> 
        <a class="d-block d-lg-inline" href="">Terms of Service</a>
    </span>
</footer>