---
import Basefooter from "./basefooter.astro";
import Logo from "./logo.astro";
---

<footer class="p-3 p-lg-4 border-top">


	<section class="container row g-3 pt-4 mb-4 mb-lg-5">

        <h4 class="col-12 fw-bold text-primary"> Suivis Academiques  </h4>
        <div class="col-12">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic minima nihil laudantium consequatur odio temporibus esse magnam numquam? Dignissimos blanditiis repudiandae inventore rem error odio impedit molestias ea nesciunt non!
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h6 class="fw-semibold">Formations</h6>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Blog</a>
                <a class="nav-item" href="">Contact Us</a>
            </div>
        </div>


        <div class="col-12 col-md-4 col-lg-3">
            <h6 class="fw-semibold">Resources</h6>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Shop</a>
                <a class="nav-item" href="">Contact</a>
            </div>
        </div>
        
        <div class="col-12 col-md-4 col-lg-3">
            <h6 class="fw-semibold">Suivis et Coaching Profssionelle</h6>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Shop</a>
                <a class="nav-item" href="">Contact</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h6 class="fw-semibold">Quick Links</h6>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Shop</a>
                <a class="nav-item" href="">Contact</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h6 class="fw-semibold">Quick Links</h6>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Shop</a>
                <a class="nav-item" href="">Contact</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Nivau Academiques</h5>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Blog</a>
                <a class="nav-item" href="">Contact Us</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Nivau Academiques</h5>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Blog</a>
                <a class="nav-item" href="">Contact Us</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Nivau Academiques</h5>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Blog</a>
                <a class="nav-item" href="">Contact Us</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Nivau Academiques</h5>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Blog</a>
                <a class="nav-item" href="">Contact Us</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Nivau Academiques</h5>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Blog</a>
                <a class="nav-item" href="">Contact Us</a>
            </div>
        </div>


        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Matieres Academiques</h5>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Scientifiques</a>
                <a class="nav-item" href="">Litterairs</a>
                <a class="nav-item" href="">Theologiques</a>
                <a class="nav-item" href="">Autres disciplines</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <Logo />
            <p class="mb-1">Mountain View</p>
            <p class="mb-1">California, United States</p>
            <p class="mb-1">Tel: +1 123-456-7890</p>
            <p class="mb-0"><a class="text-dark text-decoration-none" href="">hello@yourdomain.com</a></p>
            <div class="border-top mt-3 d-lg-none"></div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Quick Links</h5>
            <div class="nav flex-column gap-2">
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Shop</a>
                <a class="nav-item" href="">Contact</a>
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Shop</a>
                <a class="nav-item" href="">Contact</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">Useful Info</h5>
            <div class="nav flex-column gap-2">
                <a class="text-dark" href="">How it Works</a>
                <a class="text-dark" href="">FAQ</a>
                <a class="text-dark" href="">Contacts</a>
                <a class="nav-item" href="">Home</a>
                <a class="nav-item" href="">About</a>
                <a class="nav-item" href="">Shop</a>
                <a class="nav-item" href="">Contact</a>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <h5 class="fw-semibold">My Account</h5>
            <div class="nav flex-column gap-2">
                    <a class="text-dark" href="">Get Help</a>
                
                    <a class="text-dark" href="">My Orders</a>
                
                    <a class="text-dark" href="">Track Order</a>
                
            </div>
        </div>


		</div>

		<div class="border-top d-lg-none"></div>

        <Basefooter />
		
	</section>

    
</footer>