
<form style="max-width: 560px;" class="position-relative border rounded overflow-hidden" role="search">
    <input type="text" class="form-control form-control-sm border-0" placeholder="un cours?" aria-label="username" aria-describedby="button-addon2">
    <button class="btn btn-sm position-absolute top-50 end-1 translate-middle-y" type="button" id="button-addon2">
        <i class="bi bi-search"></i>
    </button>
</form>