---
import Basefooter from "../components/basefooter.astro";
import DashboardAccountbar from "../components/navbars/dashboardAccountbar.astro";
import DashboardSidebar from "../components/navbars/dashboardSidebar.astro";
import Layout from "./layout.astro";

---

<Layout>

    <div class="w-100 nav navbar-expand-md">


        <aside class="p-0 col-md-3 col-xl-2">
            <DashboardSidebar />
        </aside>

        <main class="col-12 col-md-9 col-xl-10">

            <DashboardAccountbar />
            <section class="p-1">
                <slot />
            </section>

            <div class="px-2">
                <Basefooter />
            </div>

        </main>

    </div>
</Layout>